.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

body{
    margin: 0;
    background-color:#000;
}

a{
    text-decoration: none;
}

.topNavBar{
    padding: 25px 16px 20px;
}

.topNavBar > .logo{
    float: left;
    font-size: 24px;
    font-family: 'Arial Black';
    padding: 1.2px 0;
}

.topNavBar > .logo > .rs{
    color:#e6686a;
    margin: 0 4px 0 0;
}

.topNavBar > .logo > .card{
    color:#9a9da2;
}

.topNavBar > nav{
    float: right;
}

.topNavBar > nav > ul{
    list-style: none;
    margin: 0;
    padding: 0; 
}

.topNavBar > nav > ul > li{
    float:left;
    padding: 0 17px;
}

.topNavBar > nav > ul > li > a{
    color: rgb(255,255,255,0.7);
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    padding: 5px 0;
    display: block;
    font-weight: bold;
    font-size: 12px;
}

.topNavBar > nav > ul > li > a:hover{
    border-bottom: 5px solid #999;
}

.test{
    width:200px;
    height:200px;
    color:red;
}