.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

h1,h2,h3,p,dd,dt,ol,ul,li{
    margin: 0;
    padding: 0;
}

ul,ol,li{
    list-style: none;
}

body{
    margin: 0;
    background-color:rgba(0,0,0,0.2);
}

a{
    text-decoration: none;
}

.siteWelcome{
    display: none;
    position: fixed;
    top: 0;  
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color:#888;
    justify-content: center;
    align-items: center;
}

.siteWelcome.active{
    display: flex;
}

.loading{
    width: 200px;
    height: 200px;
    position: relative;
}

.loading::before,.loading::after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #000;
    border-radius: 50%;
    animation: diffusion 1s linear infinite;
}

.loading::after{
    animation-delay: 0.5s;
}

@keyframes diffusion{
    0%{
        height: 0;
        width: 0;  
        opacity: 1;
    }
    100%{
        height: 100px;
        width: 100px;
        opacity: 0;
    }
}

.topNavBar{
    padding: 25px 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.topNavBar.notOnTop{
    background-color: #fff;
    box-shadow: 2px 4px 13px 0 rgba(0,0,0,0.5);
    transition: all 0.5s;
}

.topNavBar.notOnTop nav > ul > li  a{
    color:#000;
}

.topNavBar .topNavBarInner{
    padding: 0 35px 0 16px;
}

.topNavBar  .logo{
    float: left;
    font-size: 24px;
    font-family: 'Arial Black';
    padding: 1.2px 0;
}

.topNavBar  .logo > .rs{
    color:#e6686a;
    margin: 0 4px 0 0;
}

.topNavBar  .logo > .card{
    color:#9a9da2;
}

.topNavBar  nav{
    float: right;
}

.topNavBar  nav > ul{
    list-style: none;
    margin: 0;
    padding: 0; 
}

.topNavBar  nav > ul > li{
    float:left;
    margin: 0 0 0 34px;
    position: relative;
}

.topNavBar  nav > ul > li a{
    color: rgb(255,255,255,0.7);
    display: block;
    font-weight: bold;
    font-size: 12px;
    padding-top: 10px;
}

.topNavBar  nav > ul > li .submenu{
    display: none;
    position: absolute;
    background-color: #fff;
    color: #3d4451;
    right: 0;
    box-shadow: 2px 4px 13px 0 rgba(0,0,0,0.5);
}

.topNavBar  nav > ul > li .submenu.active{
    display: block;
}

.topNavBar  nav > ul > li .submenu li{
    white-space: nowrap;
    padding: 5px 10px;
}

.topNavBar  nav > ul > li .border{
    width: 100%;
    height: 5px;
    margin-top: 5px;
}

.topNavBar  nav > ul > li a.active .border{
    background-color: #e06567;
}

.topNavBar  nav > ul > li:hover a .border{
    background-color: #e06567;
    animation: 0.3s ltr;
}

@keyframes ltr{
    0%{
        width: 0;
    }
    100%{
        width: 10;
    }
}

.topNavBar  nav > ul > li:hover ul{
    animation: 0.3s submenuSlide;
}

@keyframes submenuSlide{
    0%{
        margin-right: 100%; 
    }
    100%{
        margin-right: 0%;  
    }
}

.banner{
    background-image: url(./imgs/111.png);
    background-size: cover;
    background-position: center center;
    height: 600px;
}

.banner .mask{
    height: 600px;
    background-color: rgba(0,0,0,0.5);
}

.myCard{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #eeeeee;
    margin-top: -300px;
    box-shadow: 2px 4px 13px 0 rgba(0,0,0,0.5);
}

.myCard .photoAndText{
    padding: 50px;
}
.myCard .photoAndText .photo{
    float: left;
    margin-right: 50px;
}
.myCard .photoAndText .text{
    float: left;
    width: 490px;
}

.myCard .photoAndText .photo img{
    width: 300px;
    height: 300px;
    alt:photo;
}

.myCard .photoAndText .text .hello{
    padding: 4px 16px;
    background-color: #e6686a;
    display: inline-block;
    position: relative;
}

.myCard .photoAndText .text .triangle{
    border: 10px solid transparent;
    border-left-color: #e6686a;
    border-top-width: 0;
    display: block;
    position: absolute;
    left: 5px;
    top: 100%;
}

.myCard .photoAndText .text h1{
    margin-top: 18px;
}

.myCard .photoAndText .text hr{
    border: none;
    border-top: 2px solid #cccccc;
    margin: 20px 0;
}

.myCard .photoAndText .text dd{
    float: right;
    width: 70%;
    padding: 5px 0;
}

.myCard .photoAndText .text dt{
    float: left;
    width: 30%;
    padding: 5px 0;
    font-weight: bold;
}

.myCard .mediaLinks{
    background-color: #e6686a;
}

.myCard .mediaLinks{
    text-align: center;
}

.myCard .mediaLinks a{
    display: inline-block;
    border-radius: 50%;
    padding: 10px;
    margin: 5px;
}

.myCard .mediaLinks a:hover{
    background-color: #cf5d5f;
    transition: background-color 0.3s;
}

.myCard .mediaLinks .icon{
    fill:white;
    width: 30px;
    height: 30px;
    vertical-align: top;
}

.downloadWrapper{
    text-align: center;
    margin: 32px 0 20px;
}

.downloadWrapper .download{
    padding: 21px 55px;
    border: 1px solid #666;
    display: inline-block;
    border-radius: 2px;
    color: #3d4451;
    font-weight: bold;
}

.downloadWrapper .download:hover{
    box-shadow: 2px 4px 10px 0 rgba(0,0,0,0.5);
    transition: box-shadow 0.3s;
}

.selfIntroduction{
    max-width: 940px;
    margin:50px auto 100px;   
    text-align: center;
    line-height: 2;
    font-size: 20px;
}

.skills{
    max-width: 940px;
    margin:30px auto 100px;
}

.skills h2{
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}

.skills ol{
    padding:42px 50px 4px;
    margin-top: 30px;
    background-color: #eee;
    box-shadow: 2px 4px 13px 0 rgba(0,0,0,0.5);
}

.skills ol li{
    float: left;
    width: 50%;
    margin-bottom: 38px;
}

.skills li .progressBar{
    height: 5px;
    background-color: #f3a7a7;
    border-radius: 2px;
    margin-top: 6px;
}

.skills h3{
    font-weight: normal;
}

.skills li:nth-child(2n+1) .progressBar{
    margin-right: 10px;
}

.skills li:nth-child(2n) .progressBar,
.skills li:nth-child(2n) h3{
    margin-left: 10px;
}

.skills li .progressBar .progress{
    height: 100%;
    width: 50%;
    background-color: #e6686a;
    border-radius: 2px;
}

.works{
    text-align: center;
    max-width: 940px;
    margin:30px auto 100px;
}

.works h2{
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}

.works nav{
    display: inline-block;
}

.works nav ol{
    display: inline-block;
    vertical-align: top;
    margin-top: 37px;
}

.works nav ol li{
    float: left;
    margin-left: 40px;
    cursor: pointer;
}

.works nav ol li:nth-child(1){
    margin-left: 0;
}

.works nav .worksBar{
    background-color:  #f3a7a7;
    border-radius: 2px;
    height: 5px;
    margin-top: 5px;
    position: relative;
}

.works nav .worksBar .worksBarInner{
    position: absolute;
    width: 33%;
    height: 100%;
    background-color: #cf5d5f;
    border-radius: 2px;
    transition: all 0.3s;
}

.works nav .worksBar.status-1 .worksBarInner{
    left:0;
} 

.works nav .worksBar.status-2 .worksBarInner{
    left:33.3%;
} 

.works nav .worksBar.status-3 .worksBarInner{
    left:66.7%;
} 

.works .myWorks{
    position: relative;
    height: 607px;
    margin-top: 50px;
}

.myWorks .big img{
    width: 607px;
    height: 607px;
    position: absolute;
    top: 0;
    left: 0;
}

.myWorks .small img{
    width: 293px;
    height: 293px;
    position: absolute;
}

.myWorks .small .myWorks2{
    top:0;
    left: 645px;
}

.myWorks .small .myWorks3{
    top:314px;
    left: 645px;
}

.messages{
    text-align: center;
    max-width: 940px;
    margin:30px auto 500px;   
}

.messages h2{
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}

.messages .messagesInner{
    background-color: #eee;
    box-shadow: 2px 4px 13px 0 rgba(0,0,0,0.5);
}

.messages .messagesInner ol{
    padding: 42px 50px 4px;
    margin-top: 30px;
}

.messages .messagesInner ol li{
    padding: 15px 0;
    border-bottom: 1px solid black;
}

.messages .messagesInner form{
    padding: 50px 0 0;
}

.messages .messagesInner .warning{
    display: flex;
    justify-content: center;
    font-size: 15px;    
    color:#eee;
    margin-left: -116px;
}

.messages .messagesInner .warning #contentWarning{
    padding-left: 72px;
}

.messages .messagesInner .warning .active{
    color: red;
    transition: all 0.2s;
}